.checkout-container {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.2px;

  input {
    transition: all 0.3s ease;
  }

  input:focus {
    box-shadow: 0 0 10px #00d58b60;
  }

  button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
